:root {
  --ifm-color-primary: #1a6bb5;
  --ifm-color-primary-dark: #175fa2;
  --ifm-color-primary-darker: #155999;
  --ifm-color-primary-darkest: #104a7e;
  --ifm-color-primary-light: #1d77c8;
  --ifm-color-primary-lighter: #1f7dd1;
  --ifm-color-primary-lightest: #2d8de0;
}
